@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

figure {
  display: block;
  position: relative;
  overflow: hidden;

  figcaption {
    background-color: rgba(0,0,0,.7);
    bottom: 0;
    color: #FFF;
    font-size: 14px;
    overflow: hidden;
    padding: 15px;
    position: absolute;
    text-align: center;
    text-overflow: ellipsis;
    transform: translateY(100%);
    transition: transform .4s;
    width: 100%;

    @include media-breakpoint-between('md', 'lg') {
      padding: 10px;
    }
    @include media-breakpoint-down('sm') {
      font-size: 12px;
      padding: 5px;
    }
  }

  &:hover {
    figcaption {
      transform: translateY(0%);
    }
  }
}
